.stat {
  height: 500px;
  width: 50%;
  margin-top: 40px;
}

.statContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  margin-top: 50px;
}

.regionInfo {
  margin-top: 2%;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.regionInfo span {
  margin: 5px;
  color: #1d1d1d;
}

@media screen and (max-width: 1280px){
  .stat {
    width: 100%;
  }
}